<!-- FOOTER -->
<footer class="bg-black text-white pt-5 pb-4">
  <div class="container">

    <div class="row">

      <!-- LOGO + DESCRIZIONE -->
      <div class="col-12 col-md-4 mb-4 text-center">
        <a routerLink="/" class="d-inline-block mb-3">
          <img src="logo.jpg" alt="Improve Clinic Rovereto" style="height: 50px;" loading="lazy">
        </a>
        <p>
          Improve Clinic Rovereto: percorsi personalizzati di fisioterapia e riabilitazione.
          Professionalità, sicurezza e attenzione per ogni paziente.
        </p>
      </div>

      <!-- LINK NAVIGAZIONE -->
      <div class="col-12 col-md-4 mb-4 text-center">
        <h6 class="fw-bold mb-3">Navigazione</h6>
        <ul class="list-unstyled align-items-center gap-2 gap-lg-1">
          <li><a routerLink="/" class="footer-link d-block mb-2">Home</a></li>
          <li><a routerLink="/chi-siamo" class="footer-link d-block mb-2">Chi siamo</a></li>
          <li class="dropdown">
            <a class="text-decoration-none d-block text-white mb-2 dropdown-toggle" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Il Nostro Team
            </a>
            <ul class="dropdown-menu dropdown-menu-dark shadow-lg mt-2">
              <li><a class="dropdown-item" routerLink="/fisioterapisti/vittoria">Vittoria Zampieri</a></li>
              <li><a class="dropdown-item" routerLink="/fisioterapisti/andrea">Andrea Zobele</a></li>
              <li><a class="dropdown-item" routerLink="/fisioterapisti/martina">Martina Andreis</a></li>
              <li><a class="dropdown-item" routerLink="/fisioterapisti/matteo">Matteo Moscatelli</a></li>
              <li><a class="dropdown-item" routerLink="/fisioterapisti/simone">Simone Fedel</a></li>
            </ul>
          </li>

          <li><a routerLink="/orario" class="footer-link d-block mb-2">Orari</a></li>
          <li><a routerLink="/prenota" class="footer-link d-block mb-2">Prenota</a></li>
          <li><a routerLink="/contatti" class="footer-link d-block mb-2">Contatti</a></li>
        </ul>
      </div>

      <!-- CONTATTI + SOCIAL -->
      <div class="col-12 col-md-4 mb-4">
        <h6 class="fw-bold mb-3">Contatti</h6>
        <a href="https://maps.app.goo.gl/stPFivXpqEy4duQt6" target="_blank"
          class="text-decoration-none mb-2 d-block footer-link">
          <i class="bi bi-geo-alt-fill me-2"></i> Via del Garda 46, Rovereto (TN)
        </a>
        <a href="tel:+393409203426" class="text-decoration-none mb-2 d-block footer-link"><i
            class="bi bi-telephone-fill me-2"></i> +39 340 920 3426</a>
        <a href="mailto:info.improveclinic@gmail.com" class="text-decoration-none mb-2 d-block footer-link"><i
            class="bi bi-envelope-fill me-2"></i> info.improveclinic@gmail.com</a>

        <div class="d-flex gap-3">
          <a href="https://www.instagram.com/improveclinic_rovereto/" target="_blank" class="footer-link"><i class="bi bi-instagram fs-5"></i></a>
          <a href="https://www.facebook.com/people/Improve-clinic-Rovereto/61576034880646/" target="_blank" class="footer-link"><i class="bi bi-facebook fs-5"></i></a>
        </div>


        <h6 class="fw-bold mt-5 mb-3">Policies</h6>
        <a routerLink="/privacy-policy"
          class="text-decoration-none mb-2 d-block footer-link">
          <i class="bi bi-shield-fill me-2"></i> Privacy Policy
        </a>
        <a routerLink="/cookie-policy"
          class="text-decoration-none mb-2 d-block footer-link">
          <i class="bi bi-cookie me-2"></i> Cookie Policy
        </a>
        <a routerLink="/faq"
          class="text-decoration-none mb-2 d-block footer-link">
          <i class="bi bi-question-circle me-2"></i> FAQ
        </a>
      </div>

    </div>

    <hr class="border-light">

    <!-- COPYRIGHT -->
    <div class="text-center small mt-3">
      &copy; {{currentYear()}} Improve Clinic Rovereto. Tutti i diritti riservati.<br>
      Progettato e sviluppato da <a href="https://www.instagram.com/777riki_" target="_blank" class="text-decoration-none" style="color: #e01d85;">Riccardo Calabri</a>
    </div>

  </div>
</footer>